import(BSgenome)
importFrom("Biostrings","readDNAStringSet")
importFrom("GenomicRanges", "GRanges")
importFrom("seqinr", "read.fasta")
importFrom("IRanges", "reverse")
import(ggplot2)
import(shiny)
import(shinycssloaders)
import(shinyFiles)
importFrom("methods", "as")
importFrom("stats", "median", "na.omit")

#export functions
export(calculateHZEIperNT)
export(calculateMaxEntScanScore)
export(generateHEXplorerPlot)
export(getMaxEntInfo)
export(getSeqInfoFromVariation)
export(prepareReferenceFasta)
export(startVarConApp)
